<h1>Authentication Error!</h1>
<h2>Authentication Provider: </h2>
<%= flash[:failure_provider] %>
<h2>Reason: </h2>
<%= flash[:failure_type] %>
<h3><%= link_to "try agin", "/auth/#{request.params[:provider]}" %>
or
<%= link_to "register", "/auth/identity/register" %></h3>
